	/* article control area */
	.article_manage{padding:5px 0; color:#999; font:normal 12px/22px Arial; text-align:right; border-bottom:solid 1px #ededed; margin: 0 -20px; padding:0 20px 5px; overflow: hidden;}
	.article_manage span{margin:0 5px;}
	/*.article_manage a{color:#ff2a00;}*/
	.article_manage .link_postdate{margin:0 5px 0 0;}
	.article_manage .link_view{padding:0 0 0 14px; background:url(../../../images/ico_view.png) no-repeat left center; _background:url(../../../images/ico_view.gif) no-repeat left center;}
	.article_manage .link_comments{padding:0 0 0 14px; background:url(../../../images/ico_comm.png) no-repeat left center; _background:url(../../../images/ico_comm.gif) no-repeat left center;}
	.article_manage .link_categories{float:left;}
	/* article list view */
	.list_view{margin:0 20px; padding:5px 0;}
	.list_view .article_title{display:inline; float:left; height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; margin:0 !important; font:normal 14px/30px Arial !important;}
	.list_view .article_title:after{content:"...";}
	.list_view .article_title h3{font:normal 12px/30px Arial !important;}
	.list_view .article_title h1{font:normal 12px/30px Arial !important;}
	.list_view .article_manage{display:inline; float:right; padding:0 !important; line-height:30px !important; text-align:right !important; white-space:nowrap;}
	.list_view .article_description{display:none !important;}
	.list_view .article_manage span{margin:0 !important;}

  .article_l{
      width: 100%;
      float: left;
  }

  .category_l img{
    vertical-align: middle;
}

  .category_l span{
    display: inline-block;
    vertical-align: middle;
}

  .article_l span a{
      display: inline-block;
      margin-right:10px;
  }

/*.article_r{
    float: right;
}*/
.article_r .fa
{
    font-weight:normal;
}

.category{
    margin: 0 -20px;
    border-bottom:solid 1px #ededed;
    padding:5px 20px;
}
.category_l,.category_r{
    display: inline-block;
}
.category_l{
    font-size: 14px;
    color:#333;
    width:70px;
    float:left;
    line-height: 28px;
}
.category_r{
    font-size: 14px;
    color:#df3434;
    float:left;
    width: 90%;
}

.category_r .subItem_t .J_close{
    float: right;
    line-height: 42px;
    font-weight: normal;
    font-size: 16px;
    color: #ccc;
    font-style: normal;
}

.category_r em{
    font-style: normal;
}
.category_r label{
    display: inline-block;
    margin-left:15px;
    cursor: pointer;
    line-height: 28px;
    position: relative;
}
.category_r label .fa{
    color:#999;
}
.category_r label .fa-caret-up{
    display: none;
    transform:all 2.2s;
}
/*.category_r label:hover .subItem{
    display: block;
}
.category_r label:hover .fa-caret-up{
    display: inline-block;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
.category_r label:hover .fa-caret-down{
    display: none;
}*/
.subItem{
    display: none;
    position: absolute;
    top:46px;
    left:-10px;
    color:#333;
    width: 400px;
    max-height: 400px;
    border:solid 1px #dcdcdc;
    background: #fff;
    box-shadow: 5px 0 10px #dcdcdc;
    z-index:9999;
}
.subItem:after{
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    content: '';
    top:-10px;
    left: 20px;
    background: url("../images/triangle.png") no-repeat;
    /*border-top:none;
    border-left:solid 8px transparent;
    border-right:solid 8px transparent;
    border-bottom:solid 10px #fff;*/
}
.subItem .subItem_l li a{
    color:#333;
}
.subItem_t{
    height: 42px;
    line-height: 42px;
    border-bottom:solid 1px #dcdcdc;
    padding:0 20px 0 15px;
    color: #999;
}
.category_r .subItem_t .fa-close{
    float: right;
    line-height: 42px;
    font-weight: normal;
    font-size: 16px;
    color: #ccc;
}
.subItem_l{
    max-height: 358px;
    overflow-y:auto;
    list-style: none;
    padding:0;
    margin: 0;
}
.subItem .subItem_l li{
    height: 52px;
    line-height: 52px;
    border-bottom:solid 1px #eeeeee;
    padding:0 20px;
}
.subItem_l li em{
    display: inline-block;
    vertical-align: middle;
    margin-right:10px;
}
.subItem_l li a{
    display: inline-block;
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
}

.similar_article{
    overflow: hidden;
}
.similar_article h4{
    font-size: 16px;
    color: #333;
}
.similar_c{
    border:solid 1px #bbb;

}
.similar_c_t{   
    line-height: 45px;
    border-bottom:solid 1px #dcdcdc;
}
.similar_c_t label{
    display: inline-block;
    margin-left:25px;
    font-size: 16px;
    color: #666;
}
.similar_c_t label em{
    font-style: normal;
}
.similar_c_t .similar_cur{
    font-weight:bold;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.similar_wrap{
    background: #fcfcfc;
    max-height: 180px;
    overflow-y:auto;
    padding:10px 20px;
}
.similar_list{
    width: 49%;
    list-style: none;
    margin:0;
    padding:0;
}
.similar_list li{
    list-style: none;
    line-height: 30px;
}
.similar_list li em{
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    margin-right:10px;
}
.similar_list li a{
    display: inline-block;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    color: #333;
}
.similar_list li a:hover{
    color: #fe0000;
}
.similar_list li span,.similar_list li label{
    font-size: 12px;
    color: #bbbbbb;
    display: inline-block;
    margin-left:9px;
}
.similar_list li label i,.similar_list li label b{
    font-weight: normal;
    font-style: normal;
}
.similar_list li label b{
    margin-left:5px;
}

.MoreArticle{
    clear:both;
    display: block;
    height: 35px;
    line-height: 35px;
    background: #fcfcfc;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.MoreArticle:hover{
    background: #f2f2f2;
}


.bog_copyright{
    padding:20px 0;
}
.copyright_p{
    height:14px;
    line-height: 14px;
    border-left:solid 3px #e41c1e;
    padding-left:10px;
    color:#666;
    font-size:14px;
}
