.hljs {
  display: block;
  padding: 0.5em;
  background: #fff;
  color: #000;
}
.hljs-comment,
.hljs-template_comment,
.hljs-javadoc,
.hljs-comment * {
  color: #800;
}
.hljs-keyword,
.method,
.hljs-list .hljs-title,
.clojure .hljs-built_in,
.nginx .hljs-title,
.hljs-tag .hljs-title,
.setting .hljs-value,
.hljs-winutils,
.tex .hljs-command,
.http .hljs-title,
.hljs-request,
.hljs-status {
  color: #008;
}
.hljs-envvar,
.tex .hljs-special {
  color: #660;
}
.hljs-string,
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.apache .hljs-cbracket,
.hljs-date,
.hljs-regexp,
.coffeescript .hljs-attribute {
  color: #080;
}
.hljs-sub .hljs-identifier,
.hljs-pi,
.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-decorator,
.ini .hljs-title,
.hljs-shebang,
.hljs-prompt,
.hljs-hexcolor,
.hljs-rules .hljs-value,
.css .hljs-value .hljs-number,
.hljs-literal,
.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.hljs-number,
.css .hljs-function,
.clojure .hljs-attribute {
  color: #066;
}
.hljs-class .hljs-title,
.haskell .hljs-type,
.smalltalk .hljs-class,
.hljs-javadoctag,
.hljs-yardoctag,
.hljs-phpdoc,
.hljs-typename,
.hljs-tag .hljs-attribute,
.hljs-doctype,
.hljs-class .hljs-id,
.hljs-built_in,
.setting,
.hljs-params,
.hljs-variable,
.clojure .hljs-title {
  color: #606;
}
.css .hljs-tag,
.hljs-rules .hljs-property,
.hljs-pseudo,
.hljs-subst {
  color: #000;
}
.css .hljs-class,
.css .hljs-id {
  color: #9b703f;
}
.hljs-value .hljs-important {
  color: #f70;
  font-weight: bold;
}
.hljs-rules .hljs-keyword {
  color: #c5af75;
}
.hljs-annotation,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #9b859d;
}
.hljs-preprocessor,
.hljs-preprocessor *,
.hljs-pragma {
  color: #444;
}
.tex .hljs-formula {
  background-color: #eee;
  font-style: italic;
}
.diff .hljs-header,
.hljs-chunk {
  color: #808080;
  font-weight: bold;
}
.diff .hljs-change {
  background-color: #bccff9;
}
.hljs-addition {
  background-color: #baeeba;
}
.hljs-deletion {
  background-color: #ffc8bd;
}
.hljs-comment .hljs-yardoctag {
  font-weight: bold;
}
.markdown_views {
  font-family: 'microsoft yahei';
  font-size: 14px;
}
.markdown_views * {
  box-sizing: border-box;
}
.markdown_views h1,
.markdown_views h2,
.markdown_views h3,
.markdown_views h4,
.markdown_views h5,
.markdown_views h6 {
  font-weight: 100;
  margin: 0.8em 0;
}
.markdown_views p,
.markdown_views pre,
.markdown_views pre.prettyprint,
.markdown_views blockquote {
  margin: 0 0 1.1em;
}
.markdown_views hr {
  margin: 2em 0;
  border: 0;
  border-top: 1px solid rgba(128,128,128,0.1);
}
.markdown_views dt {
  font-weight: bold;
}
.markdown_views abbr[title],
.markdown_views abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999;
}
.markdown_views .initialism {
  font-size: 90%;
  text-transform: uppercase;
}
.markdown_views blockquote {
  padding: 15px 20px;
  border-left: 10px solid rgba(128,128,128,0.075);
  background-color: rgba(128,128,128,0.05);
  border-radius: 0 5px 5px 0;
}
.markdown_views blockquote p {
  line-height: 1.25;
}
.markdown_views blockquote p:last-child {
  margin-bottom: 0;
}
.markdown_views blockquote small,
.markdown_views blockquote .small {
  display: block;
  line-height: 1.45;
  color: #999;
}
.markdown_views blockquote small:before,
.markdown_views blockquote .small:before {
  content: "— ";
}
.markdown_views blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid rgba(128,128,128,0.075);
  border-left: 0;
}
.markdown_views blockquote.pull-right p,
.markdown_views blockquote.pull-right small,
.markdown_views blockquote.pull-right .small {
  text-align: right;
}
.markdown_views blockquote.pull-right small:before,
.markdown_views blockquote.pull-right .small:before {
  content: "";
}
.markdown_views blockquote.pull-right small:after,
.markdown_views blockquote.pull-right .small:after {
  content: " —";
}
.markdown_views blockquote:before,
.markdown_views blockquote:after {
  content: "";
}
.markdown_views address {
  margin-bottom: 21px;
  font-style: normal;
  line-height: 1.45;
}
.markdown_views code,
.markdown_views kbd,
.markdown_views pre,
.markdown_views samp {
  font-family: "Source Code Pro", monospace;
}
.markdown_views code {
  padding: 2px 4px;
  font-size: 90%;
  color: #3f3f3f;
  background-color: rgba(128,128,128,0.075);
  white-space: nowrap;
  border-radius: 0;
}
.markdown_views pre {
  display: block;
  padding: 10px;
  margin: 0 0 10.5px;
  font-size: 14px;
  line-height: 1.45;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: rgba(128,128,128,0.05);
  border: 1px solid rgba(128,128,128,0.075);
  border-radius: 0;
}
.markdown_views pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre;
  word-wrap: normal;
  background-color: transparent;
  border-radius: 0;
}
.markdown_views .pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.markdown_views .sequence-diagram,
.markdown_views .flow-chart {
  text-align: center;
  margin-bottom: 1.1em;
}
.markdown_views table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #eee;
}
.markdown_views table th,
.markdown_views table td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
  border: 1px solid #eee;
}
.markdown_views .prettyprint {
  padding: 5px;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 60px;
}
.markdown_views .prettyprint .pre-numbering {
  position: absolute;
  width: 50px;
  background-color: #eee;
  top: 0px;
  left: 0;
  margin: 0;
  padding: 6px 0 40px 0;
  border-right: 1px solid #ddd;
  list-style: none;
  text-align: right;
}
.markdown_views .prettyprint .pre-numbering li {
  padding: 0 5px;
}
