#relate,.relage_t,.relate_t span,.relate_c,.relate_list,.relate_list dt,.relate_list dt img,.relate_list dd,.relate_list dd h4,.relate_list dd p,.relate_list dd p span{ margin: 0; padding: 0;}
#relate{ display: none; background: #fff; padding:0 20px 20px; margin: 20px 0; overflow: hidden;}
.relate_t{ height: 35px; line-height:35px; border-bottom:solid 1px #ccc;}
.relate_t span{ display: inline-block; height: 35px; border-bottom: solid 1px #cc0000;}
.relate_c{ padding: 0 ; margin-right:-40px;}
.relate_list{ float:left; width: 285px; margin:20px 40px 0 0;}
/*.relate_list:nth-child(odd){ margin-right:0;}*/
.relate_list dt{ float: left; width: 50px; height: 50px; border:solid 1px #dfdfdf; padding:5px;}
.relate_list dt img{height: 50px; width:50px;}
.relate_list dd{ padding-left:20px; float: left; margin: 0;}
.relate_list dd h4 a{ font-size: 14px; color: #333; text-decoration: none; display: block; width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.relate_list dd p{ padding-top:10px; font-size: 12px;}
.relate_list dd p span,.relate_list dd p em,.relate_list dd p i{ font-style: normal;}
.relate_list dd p span{ color: #64b1cb; margin-right:6px;}
.relate_list dd p i{ margin: 0 6px;}
#res-relatived{ clear: both;}