body {
  zoom: 1;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #eee;
  font: 16px/1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  font-weight: 300;
}
.outer {
  zoom: 1;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.3333333333333%;
  margin: 0 0.8333333333333%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #eee;
}
.mobile-nav-on #wrap {
  left: 280px;
}
@media screen and (min-width: 768px) {
  #main {
    display: inline;
    float: left;
    width: 73.3333333333333%;
    margin: 0 0.8333333333333%;
  }
}
.article-date,
.article-category-link,
.archive-year,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.article-inner,
.archive-article-inner {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-radius: 3px;
}
.article-entry h1,
.widget h1,
.article-entry h2,
.widget h2,
.article-entry h3,
.widget h3,
.article-entry h4,
.widget h4,
.article-entry h5,
.widget h5,
.article-entry h6,
.widget h6 {
  font-weight: bold;
  color: #000;
  font-family: "Droid Serif", "Segoe UI", Georgia, Serif;
}
.article-entry h1 a,
.widget h1 a,
.article-entry h2 a,
.widget h2 a,
.article-entry h3 a,
.widget h3 a,
.article-entry h4 a,
.widget h4 a,
.article-entry h5 a,
.widget h5 a,
.article-entry h6 a,
.widget h6 a {
  color: #000;
  text-decoration: none;
}
.article-entry h1 a:hover,
.widget h1 a:hover,
.article-entry h2 a:hover,
.widget h2 a:hover,
.article-entry h3 a:hover,
.widget h3 a:hover,
.article-entry h4 a:hover,
.widget h4 a:hover,
.article-entry h5 a:hover,
.widget h5 a:hover,
.article-entry h6 a:hover,
.widget h6 a:hover {
  color: #e32d40;
}
.article-entry h2,
.widget h2,
.article-entry h3,
.widget h3,
.article-entry h4,
.widget h4,
.article-entry h5,
.widget h5,
.article-entry h6,
.widget h6 {
  font-weight: 600;
  margin-bottom: 10px;
}
.article-entry h1,
.widget h1 {
  font-size: 2em;
}
.article-entry h2,
.widget h2 {
  font-size: 1.6em;
}
.article-entry h3,
.widget h3 {
  font-size: 1.4em;
}
.article-entry h4,
.widget h4 {
  font-size: 1.2em;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #ddd;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
#header {
  height: 166px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
#header:before,
#header:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
}
#header:before {
  top: 0;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -moz-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -o-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -ms-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: linear-gradient(rgba(0,0,0,0.2), transparent);
}
#header:after {
  bottom: 0;
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: -moz-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: -o-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: -ms-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: linear-gradient(transparent, rgba(0,0,0,0.2));
}
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  position: relative;
  overflow: hidden;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #45484d;
  background: -moz--webkit-linear-gradient(top, #45484d 0%, #000 100%);
  background: -moz--moz-linear-gradient(top, #45484d 0%, #000 100%);
  background: -moz--o-linear-gradient(top, #45484d 0%, #000 100%);
  background: -moz--ms-linear-gradient(top, #45484d 0%, #000 100%);
  background: -moz-linear-gradient(to bottom, #45484d 0%, #000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000));
  background: -webkit--webkit-linear-gradient(top, #45484d 0%, #000 100%);
  background: -webkit--moz-linear-gradient(top, #45484d 0%, #000 100%);
  background: -webkit--o-linear-gradient(top, #45484d 0%, #000 100%);
  background: -webkit--ms-linear-gradient(top, #45484d 0%, #000 100%);
  background: -webkit-linear-gradient(to bottom, #45484d 0%, #000 100%);
  background: -o--webkit-linear-gradient(top, #45484d 0%, #000 100%);
  background: -o--moz-linear-gradient(top, #45484d 0%, #000 100%);
  background: -o--o-linear-gradient(top, #45484d 0%, #000 100%);
  background: -o--ms-linear-gradient(top, #45484d 0%, #000 100%);
  background: -o-linear-gradient(to bottom, #45484d 0%, #000 100%);
  background: -ms--webkit-linear-gradient(top, #45484d 0%, #000 100%);
  background: -ms--moz-linear-gradient(top, #45484d 0%, #000 100%);
  background: -ms--o-linear-gradient(top, #45484d 0%, #000 100%);
  background: -ms--ms-linear-gradient(top, #45484d 0%, #000 100%);
  background: -ms-linear-gradient(to bottom, #45484d 0%, #000 100%);
  background: -webkit-linear-gradient(top, #45484d 0%, #000 100%);
  background: -moz-linear-gradient(top, #45484d 0%, #000 100%);
  background: -o-linear-gradient(top, #45484d 0%, #000 100%);
  background: -ms-linear-gradient(top, #45484d 0%, #000 100%);
  background: linear-gradient(to bottom, #45484d 0%, #000 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}
#header-title {
  text-align: left;
  height: 40px;
  position: absolute;
  top: 80px;
  left: 0;
  margin-top: -20px;
}
#logo,
#subtitle {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
#logo {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 5px 10px;
  border-radius: 5px;
}
#subtitle {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  padding-left: 10px;
  color: #fff;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
#subtitle-wrap {
  margin-top: 16px;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
}
#main-nav {
  float: left;
  margin-left: -15px;
}
.nav-icon,
.main-nav-link {
  float: left;
  color: #fff;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: block;
  padding: 20px 15px;
}
.nav-icon:hover,
.main-nav-link:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 16px;
  width: 16px;
  height: 16px;
  padding: 20px 15px;
  position: relative;
  cursor: pointer;
}
.main-nav-link {
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
#main-nav-toggle {
  display: none;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 479px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
  margin-right: -15px;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-search-btn:before {
  content: "\f002";
}
#search-form-wrap {
  position: absolute;
  top: 15px;
  width: 150px;
  height: 30px;
  right: -150px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  right: 0;
}
@media screen and (max-width: 479px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.search-form-input {
  border: none;
  background: none;
  color: #000;
  width: 100%;
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font: 13px FontAwesome;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
.article {
  margin: 50px 0;
}
.article-inner {
  overflow: hidden;
}
.article-meta {
  zoom: 1;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-date {
  float: left;
}
.article-category {
  float: left;
  line-height: 1em;
  color: #ccc;
  text-shadow: 0 1px #fff;
  margin-left: 8px;
}
.article-category:before {
  content: "\2022";
}
.article-category-link {
  margin: 0 12px 1em;
}
.article-author {
  float: left;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ccc;
  margin: 0 12px 1em;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.article-header {
  padding: 20px;
}
.article-header h1 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 16px;
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: #000;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #e32d40;
}
.article-subtitle {
  text-decoration: none;
  font-size: 0.7em;
  font-weight: normal;
  text-shadow: none;
  color: #999;
  line-height: 1.1em;
  margin-top: 20px;
}
.article-post-image {
  float: left;
  max-width: 200px;
  max-height: 160px;
  padding-top: 20px;
  padding-right: 20px;
}
.article-entry {
  zoom: 1;
  color: #000;
  padding: 0 20px;
  counter-reset: section subsection;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p {
  letter-spacing: 0.01rem;
  margin: 0px 0px 20px;
  line-height: 2em;
}
.article-entry table {
  line-height: 1.6em;
  margin: 0.8em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 2.2em 0 1.1em 0;
}
.article-entry h1 {
  color: #fff;
  padding: 0.1em 0.3em;
  background-color: #87111d;
}
.article-entry h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  counter-reset: section;
}
.article-entry h3 {
  counter-reset: subsection;
}
.article-entry h3:before {
  counter-increment: section;
  content: counter(section) "\00a0/";
  display: inline-block;
  position: relative;
  padding: 0 0.25em;
  margin-left: -0.2em;
  margin-right: 0.2em;
  letter-spacing: -0.1em;
  font-size: 1.8em;
  color: #e32d40;
}
.article-entry h4 {
  margin-left: 1em;
  font-style: italic;
}
.article-entry h4:before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection);
  display: inline-block;
  position: relative;
  padding: 0 0.25em;
  margin-left: -0.2em;
  margin-right: 0.2em;
  letter-spacing: 0em;
  font-size: 1.6em;
}
.article-entry a {
  color: #e32d40;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  line-height: 2em;
  counter-reset: item;
}
.article-entry ul {
  list-style-image: url("/images/arrow.gif");
}
.article-entry ul ul {
  list-style-image: initial;
  list-style-type: initial;
}
.article-entry .tabs {
  font-size: 0;
  margin: 25px 0;
}
.article-entry .tabs:after {
  clear: both;
  content: '';
  display: table;
}
.article-entry .tabs .tab {
  display: inline;
}
.article-entry .tabs .tab:nth-child(1) {
  margin-left: 10px;
}
.article-entry .tabs .tab > [type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: fixed;
  width: 1px;
  z-index: -1;
}
.article-entry .tabs .tab [type="radio"]:checked + .tab-label {
  font-weight: bold;
  background: #fff;
  border-bottom-width: 0;
  padding-bottom: 9px;
  z-index: 1;
}
.article-entry .tabs .tab [type="radio"]:checked ~ .tab-panel {
  display: inline;
}
.article-entry .tabs .tab .tab-radio {
  filter: Alpha(0);
  position: absolute;
  z-index: -1;
}
.article-entry .tabs .tab > [type="radio"]:checked + label {
  border-color: #ccc;
  color: #333;
}
.article-entry .tabs .tab-label {
  background: #eee;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  left: 1px;
  margin-left: -1px;
  border-radius: 5px 5px 0px 0px;
  padding: 8px 20px 8px 20px;
  position: relative;
  vertical-align: bottom;
}
.article-entry .tabs .tab-panel {
  display: inline;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}
.article-entry .tabs .tab-panel .tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background: #fff;
  padding: 20px 20px;
  border: 0px;
  border-top: 1px solid #ccc;
  float: left;
  font-size: 16px;
  margin-top: -1px;
  width: 100%;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.8em;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote {
  font-family: Roboto, "Helvetica Neue", "Segoe UI", Verdana, Tahoma, BiauKai, Kai, KaiTi, sans-serif;
  margin: 1.6em 0;
  padding: 0 0.8em;
  border-left: 4px solid #ddd;
  color: #777;
}
.article-entry blockquote p {
  text-indent: 0;
}
.article-entry blockquote footer {
  font-size: 16px;
  margin: 1.6em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link {
  text-indent: 0 !important;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  border-radius: 15px;
  background: #eee;
  color: #999;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #e32d40;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #c01a2b;
}
.article-footer {
  zoom: 1;
  font-size: 0.85em;
  line-height: 1.6em;
  border-top: 2px solid #ddd;
  padding-top: 1.6em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #000;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  zoom: 1;
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #000;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  color: #000;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  zoom: 1;
  background: #eee;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.article-entry-toc {
  margin-top: -24px;
}
.article-entry-toc ol {
  counter-reset: item;
}
.article-entry-toc li {
  display: block;
}
.article-entry-toc li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
#expanderHead {
  border-bottom: none;
  line-height: 1.1em;
  margin: 0;
  margin-bottom: 2em;
  color: #000;
  background-color: #fff;
  font-size: 1.2em;
}
#expanderSign {
  font-size: 0.5em;
  line-height: 1.1em;
  vertical-align: middle;
}
table {
  max-width: 100%;
  margin-bottom: 20px;
}
table th,
table td {
  padding: 12px;
  border-top: 1px solid #ddd;
}
table th {
  border-top: 2px solid #ccc;
  background-color: #eee;
}
table tr:last-child td {
  border-bottom: 2px solid #ccc;
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #e32d40;
}
.archives-wrap {
  margin: 50px 0;
}
.archives {
  zoom: 1;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
  line-height: 1em;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 768px) {
  .archives {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
}
.archive-article-title:hover {
  color: #e32d40;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  zoom: 1;
  margin: 50px auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #999;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #000;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  background: #262a30;
  padding: 50px 0;
  border-top: 1px solid #ddd;
  color: #999;
}
#footer a {
  color: #e32d40;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry .highlight {
  background: #272822;
  margin: 0;
  padding: 15px 20px;
  border-style: solid;
  border-color: #eee;
  border-width: 1px 0;
  border-radius: 3px;
  overflow: auto;
  color: #f8f8f2;
  font-size: 16px;
  line-height: 19.2px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: Consolas, "Source Code Pro", Monaco, Menlo, Consolas, monospace, "Courier New";
}
.article-entry code {
  background: #f0f0f0;
  text-shadow: 0 1px #fff;
  font-size: 0.85em;
  padding: 0 0.3em;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}
.article-entry pre {
  background: transparent;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
  border: none;
}
.article-entry .highlight {
  background: transparent url("/images/code-bk.png") repeat scroll 0% 0%;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  zoom: 1;
  font-size: 0.85em;
  color: #75715e;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .gutter pre .line {
  height: 25.6px;
  border-right: 3px solid #6ce26c;
  padding-right: 10px;
  color: #bbb;
  font-size: 12.8px;
}
.article-entry .highlight .line {
  height: 25.6px;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #eee;
  border-width: 1px 0;
  background: #272822;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: Consolas, "Source Code Pro", Monaco, Menlo, Consolas, monospace, "Courier New";
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #272822;
  color: #75715e;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #e32d40;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .preprocessor {
  color: #75715e;
}
pre .tag {
  color: #f8f8f2;
}
pre .title,
pre .variable,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f92672;
}
pre .number,
pre .built_in,
pre .literal,
pre .constant {
  color: #ae81ff;
}
pre .params {
  color: #fd971f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute,
pre .attribute {
  color: #a6e22e;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #e6db74;
}
pre .css .hexcolor {
  color: #a1efe4;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #66d9ef;
}
pre .keyword,
pre .javascript .function {
  color: #66d9ef;
}
.article-entry .highlight.java .annotation {
  color: #888;
}
.article-entry .highlight.java .javadoc {
  color: #75715e;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
/*background: url(polina.jpg) no-repeat;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-transition: 1s opacity;
  -moz-transition: 1s opacity;
  -o-transition: 1s opacity;
  -ms-transition: 1s opacity;
  transition: 1s opacity;
}
@media screen and (max-width: 479px) {
  #bgvid {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 23.3333333333333%;
    margin: 0 0.8333333333333%;
  }
}
.widget-wrap {
  margin: 50px 0;
}
.widget {
  color: #777;
  text-shadow: 0 1px #fff;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #eee;
  box-shadow: 1px 2px 3px #eee;
  padding: 15px;
  border-radius: 3px;
}
.widget a {
  color: #999;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
  color: #e32d40;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
.ds-top-threads {
  margin-left: 15px;
}
